<div class="min-w-full h-[80px] bg-[#008000] shadow-lg shadow-[#009E60] rounded-b-lg">
   <div class="flex justify-between pt-[10px] md:hidden ">
        
        <div class="pt-[5px] pl-[60px]">
            <span class="text-white text-3xl text-center ">Enrollment System</span>
        </div>
        <div class="p-2">
            <button id="hamburger-button" class="text-3xl text-white curser-pointer md:hidden relative w-8 h-8">
                <div
                    class="bg-white w-8 h-1 rounded absolute top-4 -mt-0.5 transition-all duration-500 before:content-[''] before:bg-white before:w-8 before:h-1 before:rounded before:absolute  before:-translate-x-4 before:-translate-y-3 before:transition-all before:duration-500 after:content-[''] after:bg-white after:w-8 after:h-1 after:rounded after:absolute  after:-translate-x-4 after:translate-y-3 after:transition-all after:duration-500">
                
                </div>
            </button>
        </div>
   </div>

   <section id="mobile-menu" class="absolute top-68 bg-black w-full  flex-col justify-content-center origin-top animate-open-menu hidden text-white">
        <!-- <button class="text-8xl self-end px-6 ">
            &times;
        </button> -->
        <nav class="flex flex-col min-h-screen items-center py-8" aria-label="mobile">
            <a [routerLink]="['/enrollment']" routerLinkActive="router-link-active"  class="w-full text-center py-6 hover:opacity-90 text-3xl">
                Enrollment
            </a>
            <a [routerLink]="['/student']" routerLinkActive="router-link-active"  class="w-full text-center py-6 hover:opacity-90 text-3xl">
                Student
            </a>
            <a [routerLink]="['/course']" routerLinkActive="router-link-active"  class="w-full text-center py-6 hover:opacity-90 text-3xl">
                Course
            </a>
            <a [routerLink]="['/department']" routerLinkActive="router-link-active"  class="w-full text-center py-6 hover:opacity-90 text-3xl">
                Department
            </a>
            
        </nav>
   </section>

   <section class="hidden md:flex w-full h-full justify-between">
        <div class="flex flex-col items-end justify-center pr-4">
            <span class="text-white font-bold text-3xl md:pl-2">
                Enrollment System
            </span>
        </div>

        <div class="flex flex-col items-end justify-center md:pr-4">
            <nav class="flex justify-end md:space-x-2 lg:space-x-6">
                <a [routerLink]="['/enrollment']">
                    <div class="flex flex-col justify-center h-full border-b-2 border-[#008000] hover:border-white ease-in-out duration-300">
                        <span class="text-white text-2xl">
                            Enrollment
                        </span>
                    </div>
                </a>
    
                <a [routerLink]="['/student']">
                    <div class="flex flex-col justify-center border-b-2 border-[#008000] hover:border-white">
                        <span class="text-white text-2xl">
                            Student
                        </span>
                    </div>
                </a>
    
                <a [routerLink]="['/course']">
                    <div class="flex flex-col justify-center border-b-2 border-[#008000] hover:border-white">
                        <span class="text-white text-2xl">
                            Course
                        </span>
                    </div>
                </a>
    
                <a [routerLink]="['/department']">
                    <div class="flex flex-col justify-center border-b-2 border-[#008000] hover:border-white">
                        <span class="text-white text-2xl">
                            Department
                        </span>
                    </div>
                </a>
            </nav>
        </div>
   </section>
</div>