<div>

    <div class="w-full h-[50px] bg-[#008000] p-2 flex justify-center">
        <span class="text-white text-xl">
            {{data.dialog_type=='ADD' ? 'ADD' : data.dialog_type =='EDIT' ? 'EDIT' : data.dialog_type =='VIEW' ? 'VIEW' : 'DELETE'}} DEPARTMENT DATA
        </span>
    </div>

    <div *ngIf="data.dialog_type=='ADD' || data.dialog_type =='EDIT'">
       <section>
            <div class=" w-auto  h-auto p-2">
                <div class="p-4">
                    <form [formGroup]="departmentForm">
                        <mat-form-field class="w-full border-1 border-black rounded-lg">
                          <mat-label>Department</mat-label>
                          <input matInput placeholder="Enter department" formControlName="departmentName">
                        </mat-form-field>
                    </form>

                    <div class="flex justify-center space-x-2">
                        <div>
                            <button class="w-[120px] rounded-lg h-[40px] bg-[#008000] ease-in-out duration-300 border-2 hover:border-[#008000] hover:bg-white hover:text-[#008000] text-white" (click)="result(true)">
                                {{data.dialog_type =="ADD" ? 'ADD' : 'EDIT'}}
                            </button>
                        </div>
                        <div>
                            <button class="w-[120px] rounded-lg h-[40px] bg-[#850101] ease-in-out duration-300 border-2 hover:border-[#850101] hover:bg-white hover:text-[#850101] text-white" (click)="result(false)">
                                CANCEL
                            </button>
                        </div>
                    </div>
                </div>
            </div>
       </section>
    </div>

    <div *ngIf="data.dialog_type=='VIEW'" class="p-8 space-y-2">


        <div class=" text-center">
            <span class="font-bold text-xl font-sans text-zinc-600">
                DEPARTMENT DATA 
            </span>
        </div>

        <div class="flex flex-col">
            <span class="text-zinc-600">
                Department: 
            </span>
            <span class="text-zinc-600 font-bold">
                {{data.data.departmentName}} 
            </span>
        </div>

        <div class="flex flex-col">
            <span class="text-zinc-600">
                Created at: 
            </span>
            <span class="text-zinc-600 font-bold">
                {{data.data.created_at |  date:'MM-dd-yyyy'}} 
            </span>
        </div>

        <div class="flex justify-center">
            <button class="w-[120px] rounded-lg h-[40px] bg-[#2C3138] ease-in-out duration-300 border-2 hover:border-[#2C3138] hover:bg-white hover:text-[#2C3138] text-white" (click)="result(false)">
                Close
            </button>
        </div>

    </div>


    <div *ngIf="data.dialog_type=='DELETE'">
        <div class="p-4 space-y-4">
            <div class="text-center">
                <span>Are you sure you want to delete this data? <span class="text-red-900">(Related data will also be deleted)</span></span>
            </div>

            <div class="flex justify-center space-x-2">
                <div>
                    <button class="w-[120px] rounded-lg h-[40px] bg-[#2C3138] ease-in-out duration-300 border-2 hover:border-[#2C3138] hover:bg-white hover:text-[#2C3138] text-white" (click)="result(true)">
                       DELETE
                    </button>
                </div>
                <div>
                    <button class="w-[120px] rounded-lg h-[40px] bg-[#850101] ease-in-out duration-300 border-2 hover:border-[#850101] hover:bg-white hover:text-[#850101] text-white" (click)="result(false)">
                        CANCEL
                    </button>
                </div>
            </div>
        </div>  
    </div>
</div>