/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer utilities {
    .toggle-btn {
        &>div::before {
            @apply translate-y-0 rotate-45;
        }

        &>div::after {
            @apply translate-y-0 -rotate-45;
        }

        &>div {
            @apply bg-transparent rotate-[720deg];
        }
    }
} 


#mobile-menu {
  z-index: 1000; /* Adjust the z-index value as needed to ensure it's above other elements */
}

.accordion {
    display: block;
    max-width: 500px;
    
  }
  
  .accordion-item {
    display: block;
    border: solid 1px #008000;
    border-radius: 13px;
    margin-top: 20px;
  }
  
  .accordion-item + .accordion-item {
    /* border-top: none; */
  }
  
  .accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .accordion-item-description {
    font-size: 0.85em;
    color: #999;
  }
  
  .accordion-item-header,
  .accordion-item-body {
    padding: 16px;
  }
  
  .accordion-item-header:hover {
    cursor: pointer;
    background-color: #C1E1C1;
    border-radius: 13px;
  }
  
  .accordion-item:first-child {
    /* border-top-left-radius: 13px;
    border-top-right-radius: 13px; */
  }
  
  .accordion-item:last-child {
    /* border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; */
  }

  .loading-cursor {
    cursor: wait; 
    pointer-events: none;
  }